@{
    ViewData["Title"] = "Home Page";
}

<div id="my-spa" asp-prerender-module="./Node/boot-server" 
     asp-prerender-data="new {
        IsGoldUser = true,
        Cookies = ViewContext.HttpContext.Request.Cookies
     }"></div>
